

/* The CSS Side NavBar was borrowed from Mr. Erik Terwan at https://codepen.io/erikterwan/pen/EVzeRP /*




/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */


body
{ height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  /* make it look decent enough */
  background: #232323;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.navigation {
  width: 70px;
}

#map {
  height: 100%; 
  width: 100%;
  order: 1;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  margin-left: -35px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle .stripes {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle .stripes:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ededed;
}

/*
 * But let's hide the middle one.
 */
#menuToggle .stripes:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle .stripes:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 280px;
  height: 1200px;
  margin: -78px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #232323;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 14px 0;
  font-size: 20px;
  color: white;
  margin-left: 12px;
}

#menu li:hover {
  color: tomato;
}

#markersList {
  padding-top: 20px;
  list-style-type: none;
}

#markersList {
  padding: 18px 5px;
  font-size: 22px;
  color: white;  
}

/*
 * And let's slide it in from the left
 */
#menuToggle .stripes:checked ~ ul  {
  transform: none;
}

.app_title {
  padding-top: 5px;
}

.foursquareLogo {
  width: 70%;
  margin-top: 62px;
  margin-left: 130px;
}

.search {
  margin-bottom: 59px;
  margin-top: -16px;
  width: 300px;
  height: 50px;
  background: #7aa89f;
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 30px;       
}

.search::placeholder {
  color: white;
}

.search:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h4 {
  margin-top: 23px;
}

p.adress {
    margin-top: -7px;
}

@media screen and (max-width: 600px) {
  #map {
    zoom: 0.75;
  }

  #menu{
    width: 180px;
  }

  .search {
    margin-bottom: -20px;
    margin-top: -40px;
    width: 205px;
    height: 36px;
    background: #7aa89f;
    border: none;
    font-size: 9pt;
    float: left;
    color: white;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 30px; 
  }

  #menu li {
    padding: 10px 0;
    margin-top: -3px;
    font-size: 17px;
    color: white;
    margin-left: 12px;
  }  

  .foursquareLogo {
    width: 85%;
    margin-top: 2px;
    margin-left: 72px;
  }
}
